html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: 'Averia Libre', calibri;
  text-align: center;
  background-color: gray;
}

footer {
    width: 100%;
}
.container, .container-modal {
    background-color: #fff;
    width: 1200px;
    margin: auto;       
}

.experience {
    float: right;
}

.report {
    float: left;
}

.points-counter {
    color: green;
}

.time-counter {
    color: red;
}

.additional-information {
    color: black;
    margin: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin: 0;
  padding-top: 15px;
  color: white;
}

header {
  height: 75px;
  margin: auto;
  width: 1200px;
  background-color: #204d74;
  display: block;
  /*margin: 0 175px 0 175px;*/
}

canvas {
    margin-top: -30px;
    margin-bottom: -30px;
}

#mainDiv, #mainDivModal {
    height: 600px;
}

#topBox, #bottomBox, #topBoxModal, #bottomBoxModal {
    /*height: 0;*/
    width: 100%;
    /*background-color: blue;    */
}

#leftBox, #leftBoxModal {
    /* padding: 10px; */
    width: 25%;
    height: 583px;
    background-color: darkgray;
    float: left;
    overflow: hidden;
}

#rightBox, #rightBoxModal {
    width: 22%;
    height: 583px;
    background-color: darkgray;
    float: left;
    overflow: hidden;
}

#centerBox, #centerBoxModal {
    width: 50%;
    height: 600px;
    float: left;
    overflow: hidden;
    /* opacity: 1; */
}

footer {
    width: 100%;
}

.float-left {
    float: left;
}

.my-button {
    text-align: center;
    font-size: 24px;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #204d74;
    color: white;
    cursor: pointer;    
}

.my-button:hover {    
    box-shadow: 5px 5px 5px #204d74;
    background-color: #ccc;
    color: blueviolet;
}

.my-name {
    color: #333;   
}

.my-name-label {
    color: #444;   
}

.my-name:hover {
    border: blueviolet solid thin;
    border-radius: 2px;
    padding: 2px;
    box-shadow: 5px 5px 5px #fff;  
}

#modalDiv {
    position: absolute;
    background-color: #333;
    /* opacity: 1; */
    width: 100%; 
    height: 700px;
    z-index: 1;  
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/*a {
  color: inherit;
}*/

/*.instructions {
    background-color: #ce8483; 
}*/

.space {
    height: 200px;
}

.container {
    padding: 20px 0 0 0;
    align-content: center;
    background-color: darkgray;
}

.new-score {
    padding: 300px 0 0 0;
}

#leftBox {
    margin-top: 17px;
    text-align: left;
    padding: 0 0 0 20px;
}

#rightBox {
    margin-top: 17px;
    text-align: left;
}

button {
    margin-bottom: 30px;
}

#centerBoxModal {
    background-color: #333;    
}